.DS_Store
.Rproj.user
*.Rproj
*.mp4
.Rhistory
__pycache__
experiments/exp-1/stim/scripts/media/texts
experiments/exp-1/stim/convo_vids/images
experiments/exp-1/stim/convo_vids/texts
partial_movie_files
old
.vscode
raw_data
raw_data_old
.RData
Quals.pdf
slides
bonuses.csv
experiments/3pp/earlier-later/stim/scripts/get_stimuli.ipynb
experiments/3pp/shared-unique/stim/scripts/get_stimuli.ipynb
old_model_stuff
sandbox
