.DS_Store
.Rproj.user
*.Rproj
*.mp4
*.ipynb
.Rhistory
__pycache__
experiments/exp-1/stim/scripts/media/texts
experiments/exp-1/stim/convo_vids/images
experiments/exp-1/stim/convo_vids/texts
partial_movie_files
old
.vscode
raw_data
