.DS_Store
.Rproj.user
*.Rproj
*.mp4
.Rhistory
__pycache__
partial_movie_files
old
.vscode
raw_data
raw_data_old
.RData
Quals.pdf
slides
bonuses.csv
experiments/3pp/earlier-later/stim/scripts/get_stimuli.ipynb
experiments/3pp/shared-unique/stim/scripts/get_stimuli.ipynb
old_model_stuff
sandbox
**/stim/convo_vids/images
**/stim/convo_vids/texts
**/stim/scripts/media/texts
data/1pp
**/pilots
experiments/1pp-interactive
figures/PDF/cogsci-2025
analysis/1pp